.jumbotron{

    background: url("images/emotional-clipart-mood-10.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
 }

body{
    background: url(images/wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    
    margin: 7px;
}
.or {
    margin: 0px 10px;
}
#user_div {
    display: none;
  }

  #login_div {
    display: block;
  }
  iframe {
    max-width: 100%;
    height: auto;
}


